
body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

 .logo {
    height : 200%;
    width: 80%;
    margin-top: -12%;
}

a.navbar-brand{
   
    width: 100px;
}


.bg { 
    /* The image used */
    background-image: url("Medical-HD-Wallpaper-33.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: -8%;
}

.navbar-default{
background: rgba(0,0,0,0.5);
border: none;
font-weight: 700; 
}

.navbar-default .navbar-nav>li>a {
    color: white;
    text-shadow: none;
}